@using Microsoft.AspNetCore.Identity

@model List<ApplicationUser>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Управление пользователями";
}

<h2>Управление пользователями</h2>

<a href="/Account/Register">Регистрация нового пользователя</a>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th width="200px"></th>
            <th>Email</th>
            <th>ФИО</th>
        </tr>

        @foreach (var user in Model)
        {
            var isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
            <tr>
                <td>
                    @if (!isAdmin)
                    {
                        <a class="btn btn-sm btn-primary" asp-action="ToggleAdmin" asp-route-id="@user.Id">Сделать администратором</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-primary" asp-action="ToggleAdmin" asp-route-id="@user.Id">Забрать права администратора</a>
                    }
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-danger" asp-action="Remove" asp-route-id="@user.Id">Удалить</a>
                </td>
                <td>@user.Email</td>
                <td>@user.Surname @user.FirstName @user.LastName</td>
            </tr>
        }
    </table>
}